.text {
	color: red;
}
.hotline {
  display: block;
  position: fixed;
  bottom: .3em;
  left: 1em;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #FE4242;
  color: white;
  cursor: pointer;
  padding: .5em 1.5em .5em 1.5em;
  border-radius: 4px;
}
.nav-sticky{
	position: -webkit-sticky !important; /* Safari */
	position: sticky !important;
	top: 0;
	z-index: 1;
}
.download {
  display: block;
  position: fixed;
  bottom: .3em;
  right: 1em;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #112054;
  color: white;
  cursor: pointer;
  padding: .5em 1.5em .5em 1.5em;
  border-radius: 4px;
}
.row {
  margin-right: 0 !important;
}
.btn-watch-details {
  color: #ffffff !important;
  background-color: #2A396E !important;
  border: #2A396E !important;
}