.screen-footer {
  max-width: 100%;
  height: 100%;
  position: relative;
  background-image:
    linear-gradient(
      rgba(81, 118, 147, 0.8),
      rgba(81, 118, 147, 0.8)
    ),
    url("../images/home_footer.png");
  //background-image: url("../images/home_footer.png");
  //background: rgba(81, 118, 147, 0.8) url("../images/home_footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  color: #F4F4F5;
  .content-footer {
    padding: 1em 8em 0 8em;
    @include mobile {
      padding-right: 2px;
      padding-left: 17px;
    }
    @include tablets {
      padding-right: 2px;
      padding-left: 30px;
    }
    @include tablets-pro {
      padding-right: 2px;
      padding-left: 30px;
    }
    @include mobile-horizontal {
      padding-right: 2px;
      padding-left: 30px;
    }
    @include mobile-horizontal-lg {
      padding-right: 2px;
      padding-left: 30px;
    }
    @include tablets-horizontal {
      padding-right: 2px;
      padding-left: 30px;
    }
  }
  .footer-commit {
    padding: 0;
    @include mobile {
      padding: 1em;
    }
    @include tablets {
      padding-left: 2em;
    }
    @include mobile-horizontal {
      padding-left: 2em;
    }
    @include mobile-horizontal-lg {
      padding-left: 2em;
    }
  }
  .btn-register-footer {
    color: #424F7E !important;
    border-radius: 100px;
    border-color: #424F7E !important;
  }
  .btn-register-footer:hover {
    color: #ffffff !important;
    background-color: #424F7E !important;
  }
  .btn-register-footer:focus {
    border: none !important;
    color: #ffffff !important;
    background-color: #424F7E !important;
  }

}
.download {
  display: block;
  position: fixed;
  bottom: .3em;
  right: 1em;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #112054;
  color: white;
  cursor: pointer;
  padding: .5em 1.5em .5em 1.5em;
  border-radius: 4px;
  @include mobile {
    display: none;
  }
  @include tablets {
    display: none;
  }
  @include mobile-horizontal {
    display: none;
  }
  @include mobile-horizontal-lg {
    display: none;
  }
  @include tablets-horizontal {
    display: none;
  }
}
.hotline {
  display: block;
  position: fixed;
  bottom: .3em;
  left: 1em;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #FE4242;
  color: white;
  cursor: pointer;
  padding: .5em 1.5em .5em 1.5em;
  border-radius: 4px;
  @include mobile {
    display: none;
  }
  @include mobile-horizontal {
    display: none;
  }
  @include mobile-horizontal-lg {
    display: none;
  }
}
.btn-register-modal-footer {
  color: #424F7E !important;
  border-radius: 100px;
  border-color: #424F7E !important;
}
.btn-register-modal-footer:hover {
  color: #ffffff !important;
  background-color: #424F7E !important;
}
.btn-register-modal-footer:focus {
  border: none !important;
  color: #ffffff !important;
  background-color: #424F7E !important;
}
.modal-body {
  padding-bottom: 0 !important;
}