.screen-footer {
  max-width: 100%;
  height: 100%;
  position: relative;
  background:
    linear-gradient(
      rgba(81, 118, 147, 0.8)
    ),
    url("../images/home_footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #F4F4F5;
  .content-footer {
    padding: 1em 8em 0 8em;
  }
  .footer-commit {
    padding: 0;
  }
  .btn-register-footer {
    color: #424F7E !important;
    border-radius: 100px;
    border-color: #424F7E !important;
  }
  .btn-register-footer:hover {
    color: #ffffff !important;
    background-color: #424F7E !important;
  }
  .btn-register-footer:focus {
    border: none !important;
    color: #ffffff !important;
    background-color: #424F7E !important;
  }
}