.screen-header {
	padding: 3em 0em 3.5em 10em !important;
	background-color: rgba(39, 57, 110, 1);
	color: #ffffff;
	@include mobile {
		padding: 0.8em !important;
	}
	@include tablets {
		padding: 1.5em 0em 2em 5em !important;
	}
	@include tablets-pro {
		padding: 1.5em 0em 2em 2.5em !important;
	}
	@include mobile-horizontal {
		padding: .5em 0em 1em 2em !important;
	}
	@include mobile-horizontal-lg {
		padding: .5em 0em 1em 2em !important;
	}
	@include tablets-horizontal {
		padding: 1.5em 0em 2em 2.5em !important;
	}
}
.logo-app {
	font-size: 28px;
	@include mobile {
		font-size: 12px;
	}
	@include tablets {
		font-size: 20px;
	}
	@include mobile-horizontal {
		font-size: 20px;
	}
	@include mobile-horizontal-lg {
		font-size: 20px;
	}
}
.nav-custom {
	padding: 0em 0em 0em 1.5em !important;
	background-color: rgba(19, 36, 94, 1) !important;
	//align-items: center;
	.nav-item {
		color: white !important;
	}
	.nav-pills .nav-link {
		border-radius: 0 !important
	}
	.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
		background-color: #424F7E !important;
	}
	a {
		color: #ffffff !important;
		padding: 0.9375em 1.125em !important;
		font-weight: bold !important;
	}
	li{
		border-right: 0.2px solid #353C55 ;
	}
	.last-item {
		border-right: none ;
	}
	.nav-padding {
		padding-left: 1.5em;
		@include mobile {
			padding: 0 !important;
			display: block;
		}
		@include tablets {
			padding: 0 !important;
			display: block;
		}
		@include tablets-pro {
			padding: 0 !important;
		}
		@include mobile-horizontal {
			padding: 0 !important;
			display: block;
		}
		@include mobile-horizontal-lg {
			padding: 0 !important;
			display: block;
		}
		@include tablets-horizontal {
			padding: 0 !important;
		}
	}
	.nav-link:hover {
		background-color: #424F7E !important;
	}
	@include mobile {
		padding: 0 !important;
	}
	@include tablets {
		padding: 0 !important;
	}
	@include mobile-horizontal {
		padding: 0 !important;
	}
	@include mobile-horizontal-lg {
		padding: 0 !important;
	}
	//.router-link-active {
	//	cursor: pointer;
	//	background-color: #424F7E;
	//}
	//.exact-active {
	//	background-color: #424F7E;
	//}

}