.content-box {
  padding: 1em 10em 0 10em;
  text-align: center;
  @include iphone-5s {
    padding: .5em !important;
  }
  .title-box {
    color: #54608A;
    font-size: 32px;
    font-weight: bold;
    @include iphone-5s {
      font-size: 18px;
    }
  }
  .image-line {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 2vh;
    align-items: center;
    background-image: url("../images/line.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .text-1 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    @include iphone-5s {
      margin: 5px;
    }
  }
  .text-2 {
    margin-top: 1.5em;
    margin-bottom: 3em;
    @include iphone-5s {
      margin: 5px;
    }
  }
  .box-details-1 {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // padding: 1.5em 10em 0 10em;
    @include iphone-5s {
      display: block
    }
    ul{
      list-style: none;
      margin-left: 0;
      padding-left: 1em;
      text-indent: -1em;
    }
    li:before {
      content: "+";
      padding-right: .3em;
      font-size: 1.5em;
      color: #619bf9;
      font-weight: bold;
    }
    .space{
      width: 10%;
      height: 10%;
    }
    .details-vin{
        text-align: left;
    }
    .chil-box-1{
      width: 100%;
      height: 100%;
      .image-vin-west{
        display: block;
        margin-bottom: 2em;
        width: 100%;
        height: 16.5625em;
        background-image: url("../images/vin-west.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      @include iphone-5s {
        padding-right: 0 !important;
      }
    }
    .chil-box-2{
      width: 100%;
      height: 100%;
      .image-vin-gialam{
        display: block;
        margin-bottom: 2em;
        width: 100%;
        height: 16.5625em;
        background-image: url("../images/vin-gialam.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      @include iphone-5s {
        margin-top: 10px;
        padding-right: 0 !important;
      }
    }
  }
  .box-details-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    ul{
      list-style: none;
      margin-left: 0;
      padding-left: 1em;
      text-indent: -1em;
    }
    li:before {
      content: "+";
      padding-right: .3em;
      font-size: 1.5em;
      color: #619bf9;
      font-weight: bold;
    }
    .space{
      width: 20%;
      height: 20%;
    }
    .details-vin{
        text-align: left;
    }
    .chil-box-1{
      width: 100%;
      height: 100%;
      .image-vin-west{
        display: block;
        margin-bottom: 2em;
        width: 100%;
        height: 16.5625em;
        background-image: url("../images/vin-west.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      @include iphone-5s {
        padding-right: 0 !important;
      }
    }
    .chil-box-2{
      width: 100%;
      height: 100%;
      .image-vin-gialam{
        display: block;
        margin-bottom: 2em;
        width: 100%;
        height: 16.5625em;
        background-image: url("../images/vin-gialam.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      @include iphone-5s {
        margin-top: 10px;
        padding-right: 0 !important;
      }
    }
  }
}