.screen-posts-details {
  padding: 1em 10em 0 10em;
  @include mobile {
    padding: 2px;
  }
  @include tablets {
    padding: 2px;
  }
  @include tablets-pro {
    padding: 2px;
  }
  @include mobile-horizontal {
    padding: .5em;
  }
  @include mobile-horizontal-lg {
    padding: .5em;
  }
  @include tablets-horizontal {
    padding: .5em;
  }
  .screen-new-posts-details {
    .posts-details {
      @include mobile {
        padding-right: 2px;
        padding-left: 17px;
      }
      @include tablets {
        padding-right: 2px;
        padding-left: 17px;
      }
      @include mobile-horizontal {
        padding-right: 0px;
      }
      @include mobile-horizontal-lg {
        padding-right: 0px;
      }
    }
    .images-doi-tac {
      width: 100%;
      height: 70vh;
      background-image: url("../images/san-alfonso-del-mar.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @include mobile {
        height: 40vh;
      }
      @include tablets {
        height: 50vh;
      }
      @include tablets-horizontal {
        height: 50vh;
      }
    }
    .title-posts-details {
      font-weight: bold;
      border-bottom: 1px solid #A0A7BE;
      font-size: 24px;
      padding-bottom: 1em;
    }
    .btn-register-posts-details {
      color: #ffffff;
      background-color: #2A396E
    }
    .sidebar-new-posts {
      @include mobile {
        display: none;
      }
      @include tablets {
        display: none;
      }
      @include mobile-horizontal {
        display: none;
      }
      @include mobile-horizontal-lg {
        display: none;
      }
      .title-sidebar-new-posts {
        color: #ffffff;
        background-color: rgba(19, 36, 94, 1);
        padding: 0.8em;
        text-align: center;
        font-weight: bold;
      }
      .image-block-sidebar {
        border: 4px solid #CFD3DE;
        width: 100%;
        height: 100%;
        background-image: url("../images/phoi-canh-grand-world-phu-quoc.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .text-block-sidebar {
        padding: 0 !important;
        font-weight: bold;
        font-size: 12px;
        @include tablets-pro {
          p {
            margin: 0;
          }
        }
        @include tablets-horizontal {
          p {
            margin: 0;
          }
        }
      }
    }
    .sidebar-posts-details {
      @include mobile {
        display: none;
      }
      @include tablets {
        display: none;
      }
      @include mobile-horizontal {
        display: none;
      }
      @include mobile-horizontal-lg {
        display: none;
      }
      position: -webkit-sticky !important; /* Safari */
      position: sticky !important;
      top: 4em;
      color: #ffffff;
      background-color: rgba(19, 36, 94, 1);
      padding: 0.8em;
      .btn-sidebar-new-posts-details {
        background: #424F7E;
        color: #ffffff;
      }
      .details-new-posts-image {
        width: 100%;
        height: 25vh;
        background-image: url("../images/vin-west.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @include tablets-pro {
          height: 15vh;
        }
        @include tablets-horizontal {
          height: 20vh;
        }
      }
    }
  }
}